<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>RoClans</title>
		<link rel="icon" href="http://sstatic.net/stackoverflow/img/favicon.ico">

		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<script data-ad-client="ca-pub-2436102883270054" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	</head>
	<body>
		<header>
			<%- include('templates/header') %>
		</header>
			<%- include('templates/announcement') %>
		<form>
			<br><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by fort, clan, or category...">
		</form><br>
		<section id="placeList">
			<div class="placeListBackground" id="placeListGet">
			 <ul id="placeCells">
				<% placeData.forEach(function(placeData) { %>
					<div class="placeContainer <%= placeData.category %>" class><a href = "https://www.roblox.com/games/<%= placeData.placeid %>/-"><img src= "<%= placeData.placeicon %>" alt="<%= placeData.placename %>" align="left" width="178" height="100"><span><%= placeData.placename %></span><p><%= placeData.clan %></p><p>Playing: <%= placeData.playing %></p><p class="Category"><%= placeData.category %></p></a></div>
				<% }); %>
			 </ul>
			</div>
		</section>
		<br><footer>Contact us: https://discord.gg/fMb5y7T</footer>
	</body>
	<% include templates/search.ejs %>
</html>